<div id="homeContainer">
    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameOnline">
                        <img src="assets/img/generic_avatar.png" id="homeAvatarPicture">
                    </div>
                </div>
                <div class="col">
                    <b>UserName</b>
                    <div>
                        <span>Online</span>
                        <br/>
                        <span>< Write a personal message ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whiteContainerPadded marto15">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" />
            </div>
            <div class="col-md-auto">
                <img src="assets/img/logo_live_add.png" class="icon">
            </div>
        </div>
        <hr>
        <b>Friends ({{ friends.length }}) /  ({{ friends.length }})  </b>
        <div *ngFor="let user of friends | search: query ; let position = index" class="disblock marbo15">
            <div>
                <span routerLink="/conversation/{{user.uid}}" >
                    <img src="assets/img/logo_live_online.png" class="icon">
                    <b> {{ user.nick }} </b> - {{ user.subnick || 'Hi' }}
                    <small> {{ user.email }} </small>
                </span>
            </div>
        </div>
    </div>
</div>
